*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
scroll-behavior:smooth;
}

body{

background:black;
color:white;
overflow-x:hidden;

}

/* LOADER */

#loader{

position:fixed;
width:100%;
height:100vh;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;

}

#loader h1{

color:#00ffff;
font-size:40px;

}


/* PARTICLES */

#particles-js{

position:fixed;
width:100%;
height:100%;
z-index:-1;

}


/* HEADER */

header{

position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:20px 10%;
background:black;

}

.logo{

font-size:28px;
color:#00ffff;
font-weight:700;

}

nav a{

margin-left:30px;
color:white;
text-decoration:none;

}

nav a:hover{

color:#00ffff;

}


/* SECTIONS */

section{

padding:120px 10%;

}


/* HOME */

.home{

display:flex;
align-items:center;
gap:60px;

}

.home-img img{

width:300px;
border-radius:50%;
box-shadow:0 0 25px #00ffff;

}


/* TYPING */

.typing-text{

font-size:30px;
margin:10px 0;

}


/* HEADINGS */

.heading{

text-align:center;
font-size:40px;
margin-bottom:50px;
text-shadow:0 0 10px #00ffff;

}


/* SKILLS */

.skill{

margin-bottom:25px;

}

.progress{

height:10px;
background:#222;
border-radius:20px;
overflow:hidden;

}

.progress span{

display:block;
height:100%;
width:0;
background:#00ffff;
transition:2s;

}


/* EDUCATION */

.timeline{

max-width:700px;
margin:auto;

}

.timeline-item{

border-left:3px solid #00ffff;
padding:20px;
margin-bottom:20px;
background:#111;

}


/* PROJECTS */

.project-container{

display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;

}

.card{

background:#111;
padding:20px;
border-radius:10px;
width:250px;
box-shadow:0 0 10px #00ffff;
transition:0.4s;
transform-style:preserve-3d;

}

.card:hover{

transform:rotateY(10deg) rotateX(10deg) scale(1.05);

}


/* CONTACT */

.contact{

text-align:center;

}

.social-icons a{

margin:10px;
font-size:22px;
color:#00ffff;

}


/* MOUSE GLOW */

.cursor-glow{

position:fixed;
width:200px;
height:200px;
background:#00ffff;
border-radius:50%;
filter:blur(150px);
opacity:0.15;
pointer-events:none;
transform:translate(-50%,-50%);

}
