@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
scroll-behavior:smooth;
}

body{

background:black;
color:white;

}

/* glowing background */

body::before{

content:"";
position:fixed;
width:600px;
height:600px;
background:#00ffff;
filter:blur(200px);
opacity:0.2;
animation:glow 10s infinite alternate;

}

@keyframes glow{

0%{transform:translate(-200px,-200px);}
100%{transform:translate(300px,200px);}

}

/* header */

header{

position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:20px 10%;
background:black;

}

.logo{

font-size:28px;
color:#00ffff;
font-weight:700;

}

nav a{

margin-left:30px;
color:white;
text-decoration:none;

}

nav a:hover{

color:#00ffff;

}

/* sections */

section{

padding:120px 10%;

}

/* home */

.home{

display:flex;
align-items:center;
gap:50px;

}

.home-img img{

width:300px;
border-radius:50%;
box-shadow:0 0 25px #00ffff;

}

/* typing */

.typing-text{

font-size:30px;
margin:10px 0;

}

/* headings */

.heading{

text-align:center;
font-size:40px;
margin-bottom:50px;
text-shadow:0 0 10px #00ffff;

}

/* skills */

.skill{

margin-bottom:25px;

}

.progress{

height:10px;
background:#222;
border-radius:20px;

}

.progress span{

display:block;
height:100%;
background:#00ffff;

}

/* education */

.timeline{

max-width:700px;
margin:auto;

}

.timeline-item{

border-left:3px solid #00ffff;
padding:20px;
margin-bottom:20px;
background:#111;

}

/* projects */

.project-container{

display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;

}

.card{

background:#111;
padding:20px;
border-radius:10px;
width:250px;
box-shadow:0 0 10px #00ffff;
transition:.3s;

}

.card:hover{

transform:scale(1.05);

}

/* contact */

.contact{

text-align:center;

}

.social-icons a{

margin:10px;
font-size:22px;
color:#00ffff;

}
